// Catppuccin's dark flavour's accents have bad contrast with $text so swap to $crust
// Light accents contrast is ok! (rare latte win)

div[class^="item_"][class*="addFriend_"],
div[class^="numberBadge_"][style*="background-color: var(--background-feedback-notification);"],
div[class^="numberBadge_"][style*="background-color: var(--badge-notification-background);"],
div[class*="iconBadge_"][class*="isCurrentUserConnected_"],
span[class*="botTag_"],
span[class^="unreadPill_"],
div[class^="listItem_"] div[class^="wrapper_"] [class*="selected_"], // Server list entries with no icons (Home/Add server/Discover etc)
div[class^="icon_"][class*="noIcon_"], // Mutual servers with no icon
button[class^="container_"]>div[class^="icon_"]>svg, // Add Friend Page Discoverable Servers svg
div[class^="newBadge_"],
button[class*="button_"][class*="lookFilled_"][class*="colorRed_"],
button[class*="button_"][class*="lookFilled_"][class*="colorGreen_"],
button[class*="button_"][class*="lookFilled_"][class*="colorLink_"],
button[class*="button_"][class*="lookFilled_"][class*="colorBrand_"],
button[class*="colorable_"][class*="join_"], // Vc join buttons
svg[class^="status_"], // Vc status (mute/deafen)
svg[class^="dots_"], // Status typing indicator
div[class*="textBadge_"][class*="base_"],
svg[class^="descriptionIcon_"],
div[class^="uploadDropModal_"],
svg[class^="stepIcon_"],
svg[class^="activeIcon_"], // Account switcher
div[class*="tooltipBrand_"], div[class*="tooltipGreen_"],
span[class*="planOptionDiscount_"], // Nitro plan discount badge
div[class*="memberCount_"], // Onboarding option member count
svg[class*="flowerStar_"] + div[class*="childContainer_"],
div[class*="streamerModeEnabledBtn_"],
div[class*="nowPlaying_"], // Registered games now playing
div[class^="pageControlContainer_"], // Selected page control
[class*="notice_"][class*="colorBrand_"], [class*="colorStreamerMode_"], [class*="colorSpotify_"], [class*="colorPremium_"], [class*="colorPlayStation_"],
.interactive:hover {
  --white: #{$crust};
  --white-500: #{$crust};
}

// Force button text color for brand buttons
button[class*="button_"][class*="lookFilled_"][class*="colorBrand_"]:not(
    :has(> div > div[class*="buttonIcon_"])
  ) {
  color: #{$crust} !important;
}

// Vencord buttons
button.vc-btn-primary {
  color: #{$crust} !important;
  background-color: #{$brand} !important;

  &:hover {
    background-color: #{darken($brand, math.div(15%, 2))} !important;
  }

  &:active {
    background-color: #{darken($brand, math.div(25%, 2))} !important;
  }
}

// Discord's standard primary buttons (with hashed class names)
// Space to prevent matching other primary classes like "critical-primary_"
button[class^="button_"][class*=" primary_"] {
  color: #{$crust} !important;
  background-color: #{$brand} !important;

  &:hover {
    background-color: #{darken($brand, math.div(15%, 2))} !important;
  }

  &:active {
    background-color: #{darken($brand, math.div(25%, 2))} !important;
  }
}

// Connect (positive) button text
button[class*="button_"][class*="active_"],
button.vc-btn-positive {
  color: #{$crust} !important;
}

div[class^="automodText_"] {
  color: #{$crust};
}

// Forum pin icon
div[class^="pinIcon_"] > svg > path {
  fill: #{$crust};
}

// Server settings Members banner
div[class^="bannerContainer_"],
div[class^="friendRequestContainer_"] > button[class*="colorGreen_"] {
  [style*="color: white"] {
    color: #{$crust} !important;
  }
}

.vcd-screen-picker-option-radio[data-checked="true"] {
  --text-default: #{$crust};
}
button {
  &[class*="selectorButtonSelected_"],
  &:hover {
    div[class*="selectorText_"] {
      color: #{$crust};
    }
  }
}

svg[class^="selectedIcon_"] > circle[fill="white"] {
  fill: #{$crust};
}

// Channels & Roles Browse channels count
div[class*="textBadge_"][class*="base_"][style*="background-color: var(--background-accent)"] {
  --white: #{$text};
}

div[class*="winButtonClose_"]:hover {
  color: #{$crust};
}

div[class^="bar_"][class*="unreadMentionsBar_"] {
  color: #{$crust};
}
